In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings 
warnings.filterwarnings('ignore')

In [63]:
df=pd.read_excel('flight_price.xlsx')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR â†’ DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU â†’ IXR â†’ BBI â†’ BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL â†’ LKO â†’ BOM â†’ COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU â†’ NAG â†’ BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR â†’ NAG â†’ DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [29]:
df.sample(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
9027,Jet Airways,15/06/2019,Delhi,Cochin,DEL â†’ JAI â†’ BOM â†’ COK,05:30,04:25 16 Jun,22h 55m,2 stops,No info,13014
10083,IndiGo,3/06/2019,Delhi,Cochin,DEL â†’ BOM â†’ COK,15:00,01:30 04 Jun,10h 30m,1 stop,No info,6104
3644,Jet Airways,27/06/2019,Delhi,Cochin,DEL â†’ BOM â†’ COK,19:45,19:00 28 Jun,23h 15m,1 stop,In-flight meal not included,10262
1678,Jet Airways,15/05/2019,Kolkata,Banglore,CCU â†’ BOM â†’ BLR,18:55,10:05 16 May,15h 10m,1 stop,In-flight meal not included,9663
2256,Jet Airways,6/05/2019,Kolkata,Banglore,CCU â†’ DEL â†’ BLR,09:35,09:45 07 May,24h 10m,1 stop,In-flight meal not included,8066

In [65]:
df.shape

(10683, 11)

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [69]:
df.describe() ##ka matlab hai DataFrame df ke numerical columns ke baare mein summary statistics provide karna.
# Numerical columns ka matlab hai aise columns jinmein numbers (sankhya) hote hain,

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [71]:
df['Date_of_Journey'] # ka matlab hai ki DataFrame (df) ke andar ek specific column (Date_of_Journey) ko access karna

0        24/03/2019
1         1/05/2019
2         9/06/2019
3        12/05/2019
4        01/03/2019
            ...
10678     9/04/2019
10679    27/04/2019
10680    27/04/2019
10681    01/03/2019
10682     9/05/2019
Name: Date_of_Journey, Length: 10683, dtype: object

In [73]:
df['Date'] = df['Date_of_Journey'].str.split('/').str[0] #ka matlab hai ki "Date_of_Journey" column me jo date stored hai (in string format), usko split karke sirf day extract karna.
df['Month'] = df['Date_of_Journey'].str.split('/').str[1]
df['Year'] = df['Date_of_Journey'].str.split('/').str[2]

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Date             10683 non-null  object
 12  Month            10683 non-null  object
 13  Year             10683 non-null  object
dtypes: int64(1), object(13)
memory usage: 1.1+ MB

In [77]:
df['Date'] = df['Date'].astype(int) #is command ka matlab hai ki "Date" column ko integer type me convert karna.
df['Month'] = df['Month'].astype(int)
df['Year'] = df['Year'].astype(int)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Date             10683 non-null  int32
 12  Month            10683 non-null  int32
 13  Year             10683 non-null  int32
dtypes: int32(3), int64(1), object(10)
memory usage: 1.0+ MB

In [81]:
df.drop('Date_of_Journey', axis = 1, inplace=True)#ka matlab hai ki DataFrame (df) se "Date_of_Journey" column ko permanently hata dena.

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  Date             10683 non-null  int32
 11  Month            10683 non-null  int32
 12  Year             10683 non-null  int32
dtypes: int32(3), int64(1), object(9)
memory usage: 959.9+ KB

In [85]:
df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR â†’ DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,CCU â†’ IXR â†’ BBI â†’ BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL â†’ LKO â†’ BOM â†’ COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU â†’ NAG â†’ BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR â†’ NAG â†’ DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU â†’ BLR,19:55,22:25,2h 30m,non-stop,No info,4107,9,4,2019
10679,Air India,Kolkata,Banglore,CCU â†’ BLR,20:45,23:20,2h 35m,non-stop,No info,4145,27,4,2019
10680,Jet Airways,Banglore,Delhi,BLR â†’ DEL,08:20,11:20,3h,non-stop,No info,7229,27,4,2019
10681,Vistara,Banglore,New Delhi,BLR â†’ DEL,11:30,14:10,2h 40m,non-stop,No info,12648,1,3,2019
10682,Air India,Delhi,Cochin,DEL â†’ GOI â†’ BOM â†’ COK,10:55,19:15,8h 20m,2 stops,No info,11753,9,5,2019

In [87]:
df['Arrival_Time'] = df['Arrival_Time'].apply(lambda x:x.split(' ')[0])# ka matlab hai ki "Arrival_Time" column ke har value se sirf time extract karna 
#aur wapas "Arrival_Time" column me store karna. ðŸš€

In [89]:
df['Arrival_hour'] = df['Arrival_Time'].str.split(':').str[0] #ka matlab hai ki "Arrival_Time" column se hour (pehla part) extract karna aur "Arrival_hour" naam ke naye column me store karna.
df['Arrival_min'] = df['Arrival_Time'].str.split(':').str[1]#ka matlab hai ki "Arrival_Time" column se minutes (second part) extract karna aur "Arrival_min" naam ke naye column me store karna.

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  Date             10683 non-null  int32
 11  Month            10683 non-null  int32
 12  Year             10683 non-null  int32
 13  Arrival_hour     10683 non-null  object
 14  Arrival_min      10683 non-null  object
dtypes: int32(3), int64(1), object(11)
memory usage: 1.1+ MB

In [95]:
df.drop('Arrival_Time', axis = 1, inplace = True)

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Date             10683 non-null  int32
 10  Month            10683 non-null  int32
 11  Year             10683 non-null  int32
 12  Arrival_hour     10683 non-null  object
 13  Arrival_min      10683 non-null  object
dtypes: int32(3), int64(1), object(10)
memory usage: 1.0+ MB

In [109]:
df.sample(1)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min
5755,IndiGo,Kolkata,Banglore,CCU â†’ PNQ â†’ BLR,21:00,5h 15m,1 stop,No info,7228,21,5,2019,02,15

In [111]:
df['Dept_hour'] = df['Dep_Time'].str.split(':').str[0]#ka matlab hai ki "Dep_Time" column se hour (pehla part) extract karna aur "Dept_hour" naam ke naye column me store karna.
df['Dept_min'] = df['Dep_Time'].str.split(':').str[1]#ka matlab hai ki "Dep_Time" column se minutes (second part) extract karna aur "Dept_min" naam ke naye column me store karna.

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Date             10683 non-null  int32
 10  Month            10683 non-null  int32
 11  Year             10683 non-null  int32
 12  Arrival_hour     10683 non-null  object
 13  Arrival_min      10683 non-null  object
 14  Dept_hour        10683 non-null  object
 15  Dept_min         10683 non-null  object
dtypes: int32(3), int64(1), object(12)
memory usage: 1.2+ MB

In [115]:
df['Dept_hour'] = df['Dept_hour'].astype(int)
df['Dept_min'] = df['Dept_min'].astype(int)
#ka matlab hai ki "Dept_hour" aur "Dept_min" columns ko integers me convert karna.

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Date             10683 non-null  int32
 10  Month            10683 non-null  int32
 11  Year             10683 non-null  int32
 12  Arrival_hour     10683 non-null  object
 13  Arrival_min      10683 non-null  object
 14  Dept_hour        10683 non-null  int32
 15  Dept_min         10683 non-null  int32
dtypes: int32(5), int64(1), object(10)
memory usage: 1.1+ MB

In [119]:
df.drop('Dep_Time', axis = 1, inplace = True)
#ka matlab hai ki "Dep_Time" column ko DataFrame se remove karna.

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Duration         10683 non-null  object
 5   Total_Stops      10682 non-null  object
 6   Additional_Info  10683 non-null  object
 7   Price            10683 non-null  int64
 8   Date             10683 non-null  int32
 9   Month            10683 non-null  int32
 10  Year             10683 non-null  int32
 11  Arrival_hour     10683 non-null  object
 12  Arrival_min      10683 non-null  object
 13  Dept_hour        10683 non-null  int32
 14  Dept_min         10683 non-null  int32
dtypes: int32(5), int64(1), object(9)
memory usage: 1.0+ MB

In [123]:
df

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dept_hour,Dept_min
0,IndiGo,Banglore,New Delhi,BLR â†’ DEL,2h 50m,non-stop,No info,3897,24,3,2019,01,10,22,20
1,Air India,Kolkata,Banglore,CCU â†’ IXR â†’ BBI â†’ BLR,7h 25m,2 stops,No info,7662,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL â†’ LKO â†’ BOM â†’ COK,19h,2 stops,No info,13882,9,6,2019,04,25,9,25
3,IndiGo,Kolkata,Banglore,CCU â†’ NAG â†’ BLR,5h 25m,1 stop,No info,6218,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR â†’ NAG â†’ DEL,4h 45m,1 stop,No info,13302,1,3,2019,21,35,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU â†’ BLR,2h 30m,non-stop,No info,4107,9,4,2019,22,25,19,55
10679,Air India,Kolkata,Banglore,CCU â†’ BLR,2h 35m,non-stop,No info,4145,27,4,2019,23,20,20,45
10680,Jet Airways,Banglore,Delhi,BLR â†’ DEL,3h,non-stop,No info,7229,27,4,2019,11,20,8,20
10681,Vistara,Banglore,New Delhi,BLR â†’ DEL,2h 40m,non-stop,No info,12648,1,3,2019,14,10,11,30
10682,Air India,Delhi,Cochin,DEL â†’ GOI â†’ BOM â†’ COK,8h 20m,2 stops,No info,11753,9,5,2019,19,15,10,55

In [125]:
df['Total_Stops'].unique()
#ka matlab hai ki "Total_Stops" column me jo unique values hain, unko dekhna.

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [127]:
df['Total_Stops'].isna().sum()
#ka matlab hai ki "Total_Stops" column me kitne missing values (NaN) hain, unka count dekhna.

1

In [129]:
df[df['Total_Stops'].isnull()]
#ka matlab hai ki "Total_Stops" column me jo rows me missing (NaN) values hain, unhe filter karna aur un rows ko display karna.

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dept_hour,Dept_min
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480,6,5,2019,09,25,9,45

In [132]:
df['Total_Stops'].mode()
#ka matlab hai ki "Total_Stops" column ki most frequent value (mode) ko find karna.

0    1 stop
Name: Total_Stops, dtype: object

In [134]:
df['Total_Stops'] = df['Total_Stops'].map({'non-stop':0, '1 stop':1, '2 stops': 2, '3 stops':3, '4 stops': 4, np.nan:1})
#ka matlab hai ki "Total_Stops" column ke values ko specific numerical values me map karna.

In [138]:
df['Total_Stops'].isnull().sum()

0

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Duration         10683 non-null  object
 5   Total_Stops      10683 non-null  int64
 6   Additional_Info  10683 non-null  object
 7   Price            10683 non-null  int64
 8   Date             10683 non-null  int32
 9   Month            10683 non-null  int32
 10  Year             10683 non-null  int32
 11  Arrival_hour     10683 non-null  object
 12  Arrival_min      10683 non-null  object
 13  Dept_hour        10683 non-null  int32
 14  Dept_min         10683 non-null  int32
dtypes: int32(5), int64(2), object(8)
memory usage: 1.0+ MB

In [142]:
df

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dept_hour,Dept_min
0,IndiGo,Banglore,New Delhi,BLR â†’ DEL,2h 50m,0,No info,3897,24,3,2019,01,10,22,20
1,Air India,Kolkata,Banglore,CCU â†’ IXR â†’ BBI â†’ BLR,7h 25m,2,No info,7662,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL â†’ LKO â†’ BOM â†’ COK,19h,2,No info,13882,9,6,2019,04,25,9,25
3,IndiGo,Kolkata,Banglore,CCU â†’ NAG â†’ BLR,5h 25m,1,No info,6218,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR â†’ NAG â†’ DEL,4h 45m,1,No info,13302,1,3,2019,21,35,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU â†’ BLR,2h 30m,0,No info,4107,9,4,2019,22,25,19,55
10679,Air India,Kolkata,Banglore,CCU â†’ BLR,2h 35m,0,No info,4145,27,4,2019,23,20,20,45
10680,Jet Airways,Banglore,Delhi,BLR â†’ DEL,3h,0,No info,7229,27,4,2019,11,20,8,20
10681,Vistara,Banglore,New Delhi,BLR â†’ DEL,2h 40m,0,No info,12648,1,3,2019,14,10,11,30
10682,Air India,Delhi,Cochin,DEL â†’ GOI â†’ BOM â†’ COK,8h 20m,2,No info,11753,9,5,2019,19,15,10,55

In [144]:
df.drop('Route', axis = 1, inplace=True)

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Duration         10683 non-null  object
 4   Total_Stops      10683 non-null  int64
 5   Additional_Info  10683 non-null  object
 6   Price            10683 non-null  int64
 7   Date             10683 non-null  int32
 8   Month            10683 non-null  int32
 9   Year             10683 non-null  int32
 10  Arrival_hour     10683 non-null  object
 11  Arrival_min      10683 non-null  object
 12  Dept_hour        10683 non-null  int32
 13  Dept_min         10683 non-null  int32
dtypes: int32(5), int64(2), object(7)
memory usage: 959.9+ KB

In [148]:
df['Duration_hours'] = df['Duration'].str.split(' ').str[0].str.split('h').str[0]
#ka matlab hai ki "Duration" column se hours (h) ka part extract kar ke, "Duration_hours" column me store karna.

In [150]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'Date', 'Month', 'Year', 'Arrival_hour',
       'Arrival_min', 'Dept_hour', 'Dept_min', 'Duration_hours'],
      dtype='object')

In [152]:
df.Airline.unique() 
#ka matlab hai ki "Airline" column me jo unique values hain, unhe dekhna.

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [154]:
df.Source.unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [156]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'Date', 'Month', 'Year', 'Arrival_hour',
       'Arrival_min', 'Dept_hour', 'Dept_min', 'Duration_hours'],
      dtype='object')